html {
    background-color: rgb(14, 14, 14);
    animation: fadeIn1 1.5s;
} 

body {
    background-color: rgb(14, 14, 14);
    height: 100%;
    width: 1400px;
    min-width: 576px;
    color: white;
    font-family: 'Rubik', serif;
    /* font-size: 40pt; */
    margin: 0px auto;
    margin-left: 100px;
    margin-right: 30px;
    padding: 20px;
    animation: fadeIn2 4s;
    white-space: normal;
}
/* uncomment this to have whole website fade during loading */
@keyframes fadeIn1 {
    /* keeps background black during inital fadeIn */
    0% { opacity: 1; }
    50% {opacity: 1}
    100% { opacity: 1;} 
}
@keyframes fadeIn2 {
    /* fades content in, but not background */
    0% { opacity: 0; }
    /* 50% {opacity: 1} */
    100% { opacity: 1;} 
}
.navigationHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    /* border: 5px dotted blue; */
}

/* the absolute position makes it so that theyre stacked
on top of each other rather than each taking up a line */
#location {
    animation: fadeInLocation 10s infinite;
    position: absolute;
    font-size: 35px;
    z-index: 1;
    color:goldenrod;
    /* top: 10px; */
}
@keyframes fadeInLocation {
    0% { opacity: 0; }
    20% { opacity: 1;}
    40% {opacity: 0;}
    100% { opacity: 0; }
  }
  
#education {
    animation: fadeInEducation 10s infinite;
    position: absolute;
    font-size: 35px;
    z-index: 2;
    color:rgb(34, 98, 226);
}
@keyframes fadeInEducation {
    0% { opacity: 0; }
    40% {opacity: 0;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    100% { opacity: 0; }
}

#title {
    animation: fadeInTitle 10s infinite;
    position: absolute;
    font-size: 35px;
    z-index: 3;
    /* top: -63px; */
    color:indianred;
}
@keyframes fadeInTitle {
    0% { opacity: 0; }
    40% {opacity: 0;}
    70% {opacity: 0;}
    80% { opacity: 1; }
    100% { opacity: 0; }
}

#navigationLinks, a {
    text-decoration: none;
    flex-basis: 50%;
    text-align: right;
    margin-top: 50px;
    /* margin-right: 30; */
    font-size:15pt;
    align-self: hover;
    color: grey;
}

a:hover {
    color:rgb(120, 236, 155);
}
 
#name{
    font-size: 18pt;
    flex-basis: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 0%;
}

#locEdTit {
    position:relative;
    top: -25px;
}

.greeting p {
    font-size: 65px;
    /* border: 5px dotted blue; */
    height: 80px;
    line-height: 5x;
    margin-bottom: 100px;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 57px;
    position: relative;
    left: 310px;
    top: -195px;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(25.0deg) }  /* play with  next 5 vals to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(25.0deg) }
     40% { transform: rotate(-15.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  #hr1 {
    position: relative;
    top: 15px;
    background-color: white;
    width: 70%;
  }

  
.mainContent {
    display: flex;
    font-size: large;
    position: relative;
    top: -50px;
    /* border: 5px dotted blue; */
 }

 .mainContent, p {
    font-size: 15pt;
 }

#profileSentences {
    flex-basis: 70%;
    /* border: 5px dotted red; */
    padding: 0px;
    margin: 0px auto;
    height: 30%;
}

#gonzagaHyperlink, #emailLink {
    color: rgb(78, 139, 252);
    font-size: 15pt;
    align-self: hover;
}
#gonzagaHyperlink:hover{
    color:lightskyblue;
}
#emailLink:hover{
    color:lightblue;
}

 #profilePic, img{
    border-radius: 50%;
    flex-basis: 30%;
    position: relative;
    top: -50px;
    left: 65px;
    object-fit:cover;
    width: 250px;
    height: 250px;
 }

 #hr2 {
    position: relative;
    top: -25px;
    background-color: white;
    width: 70%;
    
 }

#resume {
    font-size: large;

}

#resumeDownload{
    font-size: 15pt;
    align-self: hover;
    color:rgb(78, 139, 252);;
}
#resumeDownload:hover{
    color:mediumpurple;
}

#downloadResumeButton {
    text-decoration: none;
    color: white;
    background-color:dodgerblue;
    cursor:pointer;
    padding: 12px 30px;
    border-radius: 12px;
    align-self: hover;
    box-shadow: 0px 2px 5px rgb(89, 89, 89);
    position: relative;
    left: 200px;
    font-size: 15px;
}
#downloadResumeButton:hover {
    background-color:rgb(176, 216, 255);
    color: black;
}

#social {
    /* display: block;
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0px; */
    width: 50%;
    position: relative;
    top: 100px;
    left: 550px;
}

#social img{
    width: 30px;
    height: 30px;
}